/* author: aniruddh doki */
html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.artworkBackgroundImageOne {
    background-image: url("./images/mountains.jpeg");
}

.artworkBackgroundImageTwo {
    background-image: url("./images/forestSun.jpeg");
}

#artwork {
    padding: 25px;
    width: 98vmax;
}

#modalContainer {
    padding: 25px;
    font-size: 1em;
    line-height: 30px;
}